


.advantages__title {
  margin: 0 auto;
  margin-bottom: 36px;

  @include tablet {
    font-size: 21px;
    line-height: 26px;
  }

  @include desktop {
    margin-bottom: 27px;
  }
}

.advantages__item-title {
  @include list;
  margin: 0 auto;
  margin-bottom: 49px;
  position: relative;

  &::after {
    position: absolute;
    color: #000000;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    counter-increment: advantages;
    content: "— №"counter(advantages)" —";
    top: 143%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--blue::after {
    color: #ffffff;

    @include desktop {
      top: 124%;
      width: 150px;
    }
  }

  @include tablet {
    margin-bottom: 58px;
  }

  @include desktop {
    margin-bottom: 57px;
  }
}

.advantages__item-list {

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}

.advantages__title-top {
  width: 284px;

  @include tablet {
    width: 520px;
  }
}

.advantages__title-bottom {

  @include tablet {
  width: 145px;
  }
}




.advantages__item-wrapper {

  &--blue {
    background-color: var(--blue);
    padding: 37px 18px;
    flex-shrink: 0;

    @include tablet {
      padding: 52px 33px 31px 33px;
      width: 256px;
    }

    @include desktop {
      padding: 52px 50px 52px 50px;
      width: 400px;
    }
  }


  &--bottom {
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0;
    }
  }

  &--top {
    padding: 54px 18px 40px 18px;
  }

  &--top::before {
    position: absolute;
    content: "";
    background-image: url("../img/icons/advantages-triangle.svg");
    width: 100%;
    height: 37px;
    top: -17px;
    left: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    z-index: 3;

    @include tablet {
      display: none;
    }

}
}


.advantages__list {
  @include list;
  counter-reset: advantages;

  @include tablet {
    margin: 0;
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}



.advantages__image {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 260px;
}

.advantages__item {
  position: relative;

  &--blue {
    @include tablet {
      grid-column: 1/4;
    }
  }

  &--bottom {
    background-color: #eeeeee;
    padding: 25px 0;

    @include tablet {
      padding: 41px 33px 63px 33px;
    }

    @include desktop {
      padding: 52px 50px;
    }
  }

  &--reverse {

    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &--block {
    position: relative;

    @include tablet {
      display: flex;
    }
  }




  &--reverse::after {

    @include tablet {
      top: 50%;
      left: 83%;
    }
  }

}

.advantages__paragraph {
  position: relative;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 284px;

  @include tablet {
    width: 100%;
  }
}



.advantages__image-wrapper {
  flex-grow: 1;
}


.advantages__description {
  width: 258px;
  margin: 0 auto;

  @include tablet {
    width: 190px;
  }

  @include desktop {
    width: 300px;
  }

  &--center {
    width: 234px;
  }
}


.advantages__item-description {

  @include desktop {
    width: 263px;
    margin: 0 auto;
  }
}
