@use "../sass/mixins/media.scss"as m;




.advantages-list {
  margin-top: 31px;
  margin-bottom: 46px;
  padding: 0 18px 0 65px;

  @include m.tablet {
    padding: 0;
  }
}

.advantages-list__item-title {
  position: relative;
  text-align: left;
  margin-bottom: 16px;

  @include m.tablet {
    text-align: center;
    margin-bottom: 26px;
  }
}

.advantages-list__item {

  @include m.tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 33px;
  }

  @include m.desktop {
    padding: 71px 17px;
  }
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 25px;

  @include m.tablet {
    margin: 0;
  }
}


.advantages-list__item-title::before {
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  left: -44px;

  @include m.tablet {
    position: static;
    margin-bottom: 26px;
    background-position-x: 50%;
  }
}

.advantages-list__item-title-house::before {
  background-image: url("../img/sprite.svg#house");
  width: 39px;
  height: 37px;

  @include m.tablet {
    width: 77px;
    height: 72px;
  }

  @include m.desktop {
    width: 79px;
    height: 72px;
  }
}

.advantages-list__item-title-food::before {
  background-image: url("../img/sprite.svg#burger");
  width: 40px;
  height: 35px;

  @include m.tablet {
    width: 80px;
    height: 68px;
  }

  @include m.desktop {
    width: 73px;
    height: 69px;
  }
}

.advantages-list__item-title-present::before {
  background-image: url("../img/sprite.svg#present");
  width: 32px;
  height: 38px;
  left: -40px;

  @include m.tablet {
    width: 77px;
    height: 72px;
    width: 100%;
  }

  @include m.desktop {
    width: 77px;
    height: 75px;
  }
}

.advantages-list__item-description {
  text-align: left;

  @include m.tablet {
    text-align: center;
  }

  @include m.desktop {
    width: 300px;
  }
}


