

.form {

  @include tablet {
  padding: 0 60px;
  }

  @include desktop {
    padding: 0 120px;
  }
}

.form__about-title {
  margin: 0 auto;
  margin-bottom: 18px;
  line-height: 26px;

  @include tablet {
    margin-bottom: 27px;
    width: 279px;
  }


  &--radio {
    margin-left: 24px;

    @include tablet {
      margin: 0;
    }
  }

  &--comment {
    margin-left: 15px;

    @include tablet {
      margin-left: 0;
    }
  }
}

.form__about-title-line {

  @include tablet {
    margin-bottom: 0;
  }
}

.form__about::before {
  content: "";
  display: block;
  border-bottom: 1px solid #e5e5e5e5;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 24px;

  @include tablet {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.form__about-wrapper {


  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 44px;
  }
}

.form__about {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
}

.form__about-item-name {
  color: #333333;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-left: 15px;
}

.form__about-list {
  @include list;

  &--top {
    margin-bottom: 39px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &--contacts {
    margin-bottom: 32px;

    @include tablet {
      margin-left: 14px;
    }

    @include desktop {
      margin-left: 0;
    }
  }
}

.form__about-list-sight {
  margin-bottom: 22px;

  @include tablet {
  padding: 0 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 28px;
  column-gap: 31px;
  row-gap: 17px;
  }

  @include desktop {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px;
  }
}

.form__input-all {
  border: 4px solid transparent;
  width: 100%;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2f2f2;
  display: flex;
  padding: 13px 12px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }

  &::placeholder {
    opacity: 1;
  }
}



.form__about-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;

  @include tablet {
    padding: 0;
  }
}

.form__control-label {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.form__control {
  position: relative;
  display: block;
  padding: 10px 0 10px 62px;

  &:hover .form__control-mark {
    background-color: #e5e5e5;
  }

  &:active .form__control-mark{
    background-color: #d5d5d5;
  }
}

.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: var(--grey);
}

.form__control-mark-radio {
  border-radius: 50%;
}

.form__control-input[type="radio"]:checked+.form__control-mark-radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000000;
  content: "";
}

.form__control-input[type="radio"]:checked+.form__control-mark-radio:active::after {
  background-color: rgba(51, 51, 51, 0.3);
}

.form__control-input[type="checkbox"]:checked+.form__control-mark::after {
  position: absolute;
  mask-image: url("../img/sprite.svg#check");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  width: 30px;
  height: 30px;
  border: none;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__control-input[type="checkbox"]:checked+.form__control-mark:active:after {
  background-color: rgba(51, 51, 51, 0.3);
}

.form__about-list-control {
  margin-bottom: 25px;

  @include tablet {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
  }

  @include desktop {
    justify-content: space-between;
  }
}

.form__about-item-control {
  margin-bottom: 17px;

  &--checkbox {
    margin-bottom: 0;
  }

  @include desktop {
    padding: 0;
    margin: 0;
  }
}

.form__about-item-control-radio {


  @include tablet {
    margin-right: 15px;
    margin-left: 36px;
  }

  @include desktop {
    margin: 0;
    justify-content: space-between;
  }
}

.form__about-comment {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding: 0;
  }
}

.form__about-input-comment {
  padding-bottom: 81px;
  padding-top: 19px;
  padding-left: 17px;
  border: none;

  @include tablet {
    padding-bottom: 92px;
    padding-top: 15px;
  }
}

.form__button {
  padding: 16px 49px;
  width: 100%;

  @include tablet {
    width: 324px;
  }
}

.form__legend {
  display: block;
  color: rgba(51, 51, 51, 0.60);
  text-align: right;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;

  @include tablet {
    font-size: 14px;
  }
}

.form__wrapper-top {
  position: relative;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 47px;
    gap: 30px;
  }

  @include desktop {
    column-gap: 100px;
    margin-bottom: 56px;
  }

  &::before {

    @include tablet {
    content: "";
    position: absolute;
    border-left: 1px solid #dbdbdb;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: block;
    }
  }
}

.form__about-bottom {
  margin-top: 57px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    margin-top: 48px;
  }
}

.form__about-item-phone {

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    display: block;
    right: 0;
    top: 22px;
  }

  &::after {
    position: absolute;
    mask-image: url("../img/sprite.svg#phone");
    width: 18px;
    height: 18px;
    display: block;
    mask-repeat: no-repeat;
    content: "";
    background-color: #000000;
    right: 20px;
    top: 40px;
  }
}

.form__about-item-mail {

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    display: block;
    right: 0;
    top: 22px;
  }

  &::after {
    position: absolute;
    mask-image: url("../img/sprite.svg#mail");
    width: 18px;
    height: 18px;
    display: block;
    mask-repeat: no-repeat;
    content: "";
    background-color: #000000;
    right: 20px;
    top: 40px;
  }
}

.form__line-mode {
  display: flex;
  gap: 20px;
  align-items: center;

  &--sight {
    gap: 0;

    @include tablet {
      gap: 40px;
    }
  }

  @include tablet {
    gap: 40px;
  }
}

.form__line-mode::before {
  content: "";


  @include tablet {
    height: 7px;
    width: calc(47% - 160px);
    border-bottom: 2px solid #dbdbdb;
  }


}

.form__line-mode::after {

  @include tablet {
  content: "";
  height: 7px;
  width: 10px;
  border-bottom: 2px solid #dbdbdb;
  flex-grow: 1;
  }
}
