@use "../sass/mixins/media.scss"as m;

.hero {
  position: relative;
  background-image: url("../img/background/hero-mobile.jpg.jpg");
  width: 100%;
  height: 389px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  @include m.tablet {
    background-image: url("../img/background/hero-tablet.jpg");
    width: 100%;
    height: 518px;
    background-size: cover;
    background-position: center;
    padding: 77px 20px 77px 20px;
    margin-bottom: 47px;
  }

  @include m.desktop {
    margin-bottom: 60px;
  }

  &::after {
    background-image: url("../img/icons/hero-triangle.svg");
    position: absolute;
    content: "";
    width: 100%;
    height: 57px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-bottom: -1px;
  }
}

.hero-catalog {
  background-image: url("../img/background/hero-catalog-mobile.jpg");
  height: 158px;
  width: 100%;
  padding: 33px 45px;
  margin-bottom: 38px;

  @include m.tablet {
    background-image: url("../img/background/hero-catalog-tablet.jpg");
    height: 290px;
    width: 100%;
    padding: 95px 45px;
    margin-bottom: 66px;
  }

  @include m.desktop {
    background-image: url("../img/background/hero-desktop.jpg");
    height: 301px;
    padding: 102px 45px;
    margin-bottom: 97px;
  }
}



.hero__text {
  margin-top: 90px;

  @include tablet {
    margin-top: 0;
  }
}

.hero__text-catalog {
  width: 457px;
  height: 77px;
  margin: 0;
}
