


.page__footer-wrapper {
  padding: 0 82px 33px 82px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  @include desktop {
    padding: 56px 120px;
  }

  &--catalog {

    @include tablet {
      margin-top: 31px;
    }

    @include desktop {
      margin-top: 59px;
    }
  }
}

.page__footer-hash {
  font-size: 21px;
  line-height: 26px;
  margin-top: 42px;
  margin-bottom: 30px;


  @include tablet {
    margin: 0;
  }
}

.page__footer-hash-catalog {
  margin-top: 28px;

  @include tablet {
    margin: 0;
  }
}

