
.page__container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include desktop {
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.20);
    background-color: #ffffff;
    width: 1200px;
  }

}

.page__footer-wrapper {
  padding: 0 82px 33px 82px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 52px 36px 60px;
  }

  @include desktop {
    padding: 36px 112px 36px 120px;
  }

  &--catalog {

    @include tablet {
      margin-top: 37px;
    }

    @include desktop {
      margin-top: 59px;
    }
  }
}

.page__footer-hash {
  font-size: 21px;
  line-height: 26px;
  margin-top: 42px;
  margin-bottom: 30px;

  &--form {
    margin-top: 58px;

    @include tablet {
      margin: 0;
    }
  }

  &--catalog {
    margin-top: 28px;

    @include tablet {
      margin: 0;
    }
  }


  @include tablet {
    margin: 0;
  }
}

.page__footer-html-img {
  vertical-align: middle;
  fill: #000000;
}

.page__footer-html {

  display: block;
  text-align: center;

  padding-left: 5px;

  @include tablet {
    padding-left: 0;
  }

  &:hover {
    color: #81b3d2;
  }

  &:hover .page__footer-html-img {
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:active .page__footer-html-img {
    fill: #b3b3b3;
  }
}

