

.review__title {
  margin-bottom: 19px;


  @include tablet {
    margin-bottom: 32px;

  }
}

.review__description {
  margin-bottom: 28px;

  @include tablet {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 108px;
  }

  @include desktop {
    margin-bottom: 69px;
  }
}


