@use "../sass/mixins/media.scss"as m;


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;


  @include m.desktop {
    background-color: #f2f2f2;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}


:root {
  --basic-white: #ffffff;
  --blue: #81b3d2;
  --white: #ffffff;
  --grey: #f2f2f2;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}






.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}


.page__container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  @include m.desktop {
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.20);
    background-color: #ffffff;
  }

}

.container {
  padding: 0 20px;
  margin: 0 auto;

  @include m.tablet {
    padding: 0;
  }
}
