@use "../sass/mixins/media.scss"as m;

html {
  height: 100%;
  box-sizing: border-box;
}

.page {
  @include m.desktop {
    background-color: #f2f2f2;
    padding: 0 40px;
  }
}

:root {
  --basic-white: #ffffff;
  --blue: #81b3d2;
  --white: #ffffff;
  --grey: #f2f2f2;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.site-button {
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}


ul {
  list-style-type: none;
  padding: 0;
}

dl {
  margin: 0;
}

.container {
  max-width: 284px;
  margin: 0 auto;
  width: 100%;

}
