@use "../sass/mixins/media.scss"as m;

.form {

  @include m.tablet {
  padding: 0 60px;
  }

  @include m.desktop {
    padding: 0 120px;
  }
}

.form__about-title {
  margin-bottom: 20px;

  @include m.tablet {
    margin-bottom: 38px;
    width: 310px;
  }
}

.form__about-title-line {

  @include m.tablet {
    margin-bottom: 0;
  }
}

.form__about::before {
  content: "";
  display: block;
  border-bottom: 1px solid #e5e5e5e5;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 25px;

  @include m.tablet {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.form__about-wrapper {
  margin-bottom: 20px;

  @include m.tablet {
    margin-bottom: 38px;
  }
}

.form__about {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
}

.form__about-item-name {
  color: #333333;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.form__about-list {
  margin: 0;
  padding: 0;
}

.form__about-list-sight {

  @include m.tablet {
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 42px;
  }

  @include m.desktop {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px;
  }
}

.input-all {
  border: 1px solid #e7e7e7;
  width: 100%;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2f2f2;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}


.form__about-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.control-label {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.control {
  position: relative;
  display: block;
  padding: 10px 0 10px 58px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: var(--grey);
}

.control-mark-radio {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark-radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #000000;
  content: "";
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url("../img/icons/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  border: none;
}

.form__about-list-control {

  @include m.tablet {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 63px;
  }

  @include m.desktop {
    justify-content: space-between;
  }
}

.form__about-item-control {
  margin-bottom: 30px;

  @include m.desktop {
    padding: 0;
    margin: 0;
  }
}

.form__about-item-control-radio {


  @include m.tablet {
    margin-right: 49px;
  }

  @include m.tablet {
    margin-right: 29px;
    justify-content: space-between;
  }
}

.about-input-comment {
  padding-bottom: 50px;
  border: none;

  @include m.tablet {
    padding-bottom: 112px;
  }
}

.form__button {
  padding: 16px 49px;
  width: 100%;

  @include m.tablet {
    width: 324px;
  }
}

.form__legend {
  display: block;
  color: rgba(51, 51, 51, 0.60);
  text-align: right;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.form__wrapper-top {
  position: relative;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 55px;
  }

  @include m.desktop {
    column-gap: 100px;
  }

  &::before {

    @include m.tablet {
    content: "";
    position: absolute;
    border-left: 1px solid #dbdbdb;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: block;
    }
  }
}

.form__about-bottom {
  margin-top: 53px;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }
}

.form__about-item-phone {

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    display: block;
    right: 20px;
    top: 22px;
  }

  &::after {
    position: absolute;
    mask-image: url("../img/sprite.svg#phone");
    width: 18px;
    height: 18px;
    display: block;
    mask-repeat: no-repeat;
    content: "";
    background-color: #000000;
    right: 40px;
    top: 40px;
  }
}

.form__about-item-mail {

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    display: block;
    right: 20px;
    top: 22px;
  }

  &::after {
    position: absolute;
    mask-image: url("../img/sprite.svg#mail");
    width: 18px;
    height: 18px;
    display: block;
    mask-repeat: no-repeat;
    content: "";
    background-color: #000000;
    right: 40px;
    top: 40px;
  }
}

.line-mode {
  display: flex;
  gap: 20px;
  align-items: center;

  @include m.tablet {
    gap: 40px;
  }
}

.line-mode::before {
  content: "";


  @include m.tablet {
    height: 7px;
    width: calc(47% - 160px);
    border-bottom: 2px solid #dbdbdb;
  }


}

.line-mode::after {

  @include m.tablet {
  content: "";
  height: 7px;
  width: 10px;
  border-bottom: 2px solid #dbdbdb;
  flex-grow: 1;
  }
}
