@use "../sass/mixins/media.scss"as m;

.hero {
  background-image: url("../img/background/hero-mobile.jpg.jpg");
  width: 100%;
  height: 389px;
  background-size: cover;
  background-position: center;
  padding: 90px 20px 85px 20px;
  margin-bottom: 32px;
}
